.logo-box__ticket {
    width: 100%;
    display: flex;
    font-family: "Just Another Hand";
    color: black;
}

.header-left {
    margin-top: 30px;
}

.zoo-logo {
    justify-content: right;
    display: flex;
}

.text-logo__top-right {
    font-size: 4rem;
    line-height: normal;
}

.text-logo__down-right {
    font-size: 2rem;
    line-height: normal;
}

.text-logo__top-left {
    font-size: 4rem;
}

.text-logo__down-left {
    font-size: 4rem;
}

.home-view__top {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: right;
    z-index: 3;
    padding-top: 70px;
}

.btn-news__homeview {
    background-color: #3C5724;
    font-size: 2rem;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-right: 0%;

}

.btn-ticket__homeview {
    background-color: #F07300;
    font-size: 2rem;
}

.home-view__center {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-ticket__menu {
    background-color: #F5F0D7;
    color: black;
    margin-right: 1rem;
}

.btn-ticket__menu::after {
    display: none;
}

.navigation__link {
    text-decoration: none;
    color: #000;
}