.logo-box{
    font-family: "Just Another Hand";
}
.tiger-img{
    object-fit: cover;
    width: 100%;
    height: 15rem;
}
.text-logo-top {
    left: 2.5em;
    color: white;
    font-size:  3em;
    line-height: normal;
    position: absolute;
    top: 0.5em;
    white-space: nowrap;
}
.text-logo-down {
    color: white;
    font-size: 2em;;
    left: 5.5em;
    line-height: normal;
    position: absolute;
    top: 2em;
    white-space: nowrap;
}
.text-right{
    font-size: 2rem;
    margin-left: 90rem;
}
.web-logo {
    object-fit: cover;
    position: absolute;
}
h4 {
    color: #3C5724;
    font-size: 5em;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.box-alert p{
    color: #3C5724;
    font-size: 2em;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 2em;
}
.box-alert .h4{
    color: #3C5724;
    font-weight: 400;
    text-align: left;
    margin-left: 1em;
}
.ticket-table{
    font-size: 40px;
    font-style: normal;
    line-height: normal;
    text-align: left;
    padding-bottom: 25px;
}
.ticket-table-information{
    background-color: #3C5724;
    color: white;
    text-align: left;
    font-size: 40px;
}
.list-items{
    text-align: left;
    
}
.text-align{
    text-align: left;
    padding-left: 20px;
}
.table{
    text-align: center;
}
.list-items{
    text-align: center;

}
.list-ticket{
    text-align:  left;
}
.btn-success{
    margin-left: 1350px;
}
.h1{
    color: #3C5724;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;

    margin-bottom: 0;
}
.button-direct{
   text-align: right;
}
.address-form{
    margin-top: 10px;
    text-align: left;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.forn-information{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
 /* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .zoo-event-container {
        left: 2%;
    }
}

/* moblie */
@media (max-width: 46.1875em) {
    .zoo-event-container {
        left: 1px;
        padding: 0;
    }
} 