

h4 {
    color: #3C5724;
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.box-alert p{
    color: #3C5724;
    font-size: 1em;
    text-align: left;
    margin-left: 2em;
}
.box-alert .h4{
    color: #3C5724;
    text-align: left;
    margin-left: 1rem;
}
.ticket-table{
    font-size: 1rem;
    line-height: normal;
    text-align: left;
}
.ticket-table-information{
    background-color: #3C5724;
    color: white;
    text-align: left;
    font-size: 2rem;
}
.text-align{
    text-align: left;
    width: auto !important;
}
.table{
    text-align: center;
    border-bottom: 1px solid;
    line-height: normal;
    justify-content: center;
}
.cart-table{
    line-height: 1rem;
    align-items: center;
    width: auto !important;
    table-layout: auto !important;
}
.button-direct{
   text-align: right;
   margin-bottom: 1rem;
}
.address-form{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
}
.form-information{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.button-left{
    background-color:  #F07300;
    font-size: 2rem;
    margin-right: 4rem
}
.button-right{
    background-color: green;
    font-size: 2rem
}
.image-align__th{
    width: 20%;
}
.summary__inform{
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    height: 100%;
}


 /* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .zoo-event-container {
        left: 2%;
    }
}

/* moblie */
@media (max-width: 46.1875em) {
    .zoo-event-container {
        left: 1px;
        padding: 0;
    }
} 