.header-img {
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.header-img .white-tiger-backgroud {
    height: 100%;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.logo-box {
    position: absolute;
    height: 100px;
    width: 231px;
    left: 50px;
}

.logo-box .logo {
    height: 100px;
    left: 0;
    top: 0;
    width: 235px;
}

.logo-box .text-logo-top {
    color: #000000;
    font-family: 'Just Another Hand', cursive;
    font-size: 40px;
    font-weight: 400;
    left: 117px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 104px;
}


.logo-box .text-logo-down {
    color: #000000;
    font-family: 'Just Another Hand', cursive;
    font-size: 24px;
    font-weight: 400;
    left: 168px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
    white-space: nowrap;
    width: 63px;
}
.logo-box .text-right{
    color: #000000;
    font-family: 'Just Another Hand', cursive;
    font-size: 24px;
    font-weight: 400;
    left: 1600px;
    position: absolute;
    letter-spacing: 0;
    top: 64px;
    white-space: nowrap;
    width: 63px;
}

.logo-box .web-logo {
    height: 100px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 94px;
}
.zoo-information{
    padding: 0;
}
.zoo-information h4 {
    color: #3C5724;
    font-family: 'Just Another Hand';
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 65px;
    margin-bottom: 0;

}
.box-alert{
    margin-right: 200px;
    margin-left: 200px;
}
.box-alert p{
    color: #3C5724;
    font-family: 'Just Another Hand';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 90px;
    top: 0;
}
.box-alert .h4{
    color: #3C5724;
    font-family: 'Just Another Hand';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 60px;
    top: 0;
}
.ticket-table{
    margin-right: 200px;
    margin-left: 200px;
    color: aliceblue;
    font-family: 'Just Another Hand';
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}
.ticket-table-information{
    background-color: #3C5724;
}
.list-items{
    display: flex;
    text-align: right;
    
}
.text-align{
    text-align: left;
    padding-left: 20px;
}
.table{
    border-bottom: 1px;
    width: 1500px;
    background-color: #F5F0DD;
    text-align: center;
}
.list-items{
    margin-left: 350px;
}
.note{
    text-align: left;
    margin-left: 200px;
    color: #3C5724;
    font-family: 'Just Another Hand';
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn-success{
    margin-left: 1350px;
}
.box-alert-2{
    color: #3C5724;
    font-family: 'Just Another Hand', cursive;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 90px;
    top: 0;
    padding: 5px;
    margin: 0;
}
 /* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .zoo-event-container {
        left: 2%;
    }
}

/* moblie */
@media (max-width: 46.1875em) {
    .zoo-event-container {
        left: 1px;
        padding: 0;
    }
} 