.hours-header-img {
    height: 100%;
    width: 100%;
}

.hours-header-img .gate-backgroud {
    height: 100%;
    left: 0;
    object-fit: cover;
    width: 100%;

}

.page-headline{
    font-size: 3.125rem;
    line-height: 3.4375rem;
    text-transform: uppercase;
    color: #3c5724;
}
.list-title {
    background-color: #F5F1DF;
}

.list-group-flush {
    background-color: #ECEBD3;
}

.list-note {
    background-color: #ebe1b5;
}

.panel__ctas {
    position: relative;
    background: '#F7F1DB';
}

.panel__ctas .wrapper {
    display: flex;
    grid-gap: 10%;
    padding: 1rem 15px;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}