.welcome-text__information {
    display: flex;
    color: #3C5724;
    font-family: "Just Another Hand";
    font-size: 5rem;
    justify-content: center;
}

.about-zoo__information {
    display: flex;
    font-family: "Just Another Hand";
    font-size: 3rem;
    align-items: center;
    line-height: normal;
    margin-bottom: 1rem;
}

.view-price__welcome {
    align-items: center;
    justify-content: center;
    margin: 0;
}

.image-price {
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    height: 50%;
    background-size: cover;
}

.welcome-text__top {
    margin-left: 7rem;
    margin-right: 7rem;
}

.background-ticket__price {
    font-size: 30px;
    color: white;
    text-align: center;
}

.view-price__ticket {
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.img-price {
    display: block;
    border-radius: 10%;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    background-size: cover;
    object-fit: cover;
    height: 50%;
}
.btn-view-all-price {
    display: flex;
    justify-content: right;
    background-color: #3C5724;
    font-size: 2rem;
    border: none;
    outline:none;
    z-index: 2;
    font-size: 2rem; /* Reduce the font size to make the buttons thinner */
    padding: 10px 20px; /* Adjust padding for more space */
}
.view-price__btn-direct-ticket{
    background-color: #F07300;
    font-size: 1.5rem;
    border: none;
    color: white;
}
.view-price__card{
    align-items: center;
    width: 30rem;
    background: rgba(0,0,0,0);
    border: none;
}
.view-price__txt-ticket{
    font-size: 3rem;
    font-family: "Just Another Hand";
    color: white;
}
