.header-img {
    height: 900px;
    width: 100%;
    margin-top: 50px;
}

.header-img .tiger-backgroud {
    height: 100%;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.logo-box {
    position: absolute;
    height: 100px;
    width: 231px;
    left: 50px;
}

.logo-box .logo {
    height: 100px;
    left: 0;
    top: 0;
    width: 235px;
}

.logo-box .text-logo-top {
    color: #fff;
    font-family: 'Just Another Hand', cursive;
    font-size: 40px;
    font-weight: 400;
    left: 117px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    white-space: nowrap;
    width: 104px;
}

.logo-box .text-logo-down {
    color: #fff;
    font-family: 'Just Another Hand', cursive;
    font-size: 24px;
    font-weight: 400;
    left: 168px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 64px;
    white-space: nowrap;
    width: 63px;
}

.logo-box .web-logo {
    height: 100px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 6px;
    width: 94px;
}

.zoo-event-container {
    position: absolute;
    bottom: -300px;
    left: 6%;
    /* top: 100%;
    left: 8%; */
}

.zoo-event {
    background-color: #F9F7EA;
    border-radius: 50px;
}

.zoo-event-area {
    text-align: center;
    border-right: 1px solid #000;
    font-family: 'Actor', sans-serif;
    font-weight: 400;
}

.map-img {
    width: 58px;
    margin-bottom: 10px;
}

.zoo-event-area p:first-child {
    padding-top: 8px;
    margin-bottom: 4px;
    font-size: 15px;
    font-style: normal;
    line-height: normal;
}

.zoo-event-area p {
    font-size: 20px;
    margin-bottom: 10px;
    font-style: normal;
    line-height: normal;
}

.zoo-event-area:last-child {
    border-right: none;
}

.event-link-box {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #F0E9C4;
    border-radius: 30px;
    width: 70%;
}

.event-link {
    text-decoration: none;
}

.zoo-information {
    width: 100%;
    display: inline-block;
    padding-top: 150px;
    text-align: center;
    background-color: #F4EFDC;
}

.zoo-information h4 {
    color: #3C5724;
    font-family: 'Just Another Hand', cursive;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.zoo-information p {
    color: #000;
    font-family: 'Just Another Hand', cursive;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-ticket {
    background-color: #777D59;
    color: #fff;
}

.home-ticket__content__title {
    padding-top: 16px;
    padding-bottom: 15px;
}

.home-ticket__content__img__item {
    text-align: center;
    position: relative;
}

.home-ticket__content__img img {
    width: 90%;
    border-radius: 60px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.home-ticket__content__img p {
    margin: auto;
    left: 20%;
}

 /* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    .zoo-event-container {
        left: 2%;
    }
}

/* moblie */
@media (max-width: 46.1875em) {
    .zoo-event-container {
        left: 1px;
        padding: 0;
    }
} 