.App {
  text-align: center;
}

.navbars {
  background-color: #F5F0DD;
}

.navbars .nav-link {
  margin: 0;
}

.header-img {
  height: 900px;
  width: 100%;
}

.header-img .tiger-backgroud {
  height: 100%;
  left: 0;
  object-fit: cover;
  width: 100%;
}

.logo-box {
  position: absolute;
  height: 100px;
  width: 231px;
  left: 50px;
}

.logo-box .logo {
  height: 100px;
  left: 0;
  position: relative;
  top: 0;
  width: 235px;
}

.logo-box .text-logo-top {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  white-space: nowrap;
  width: 104px;
}

.logo-box .text-logo-down {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  left: 168px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 64px;
  white-space: nowrap;
  width: 63px;
}

.logo-box .web-logo {
  height: 100px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 94px;
}

.zoo-event-container {
  position: absolute;
  bottom: -300px;
  left: 84px;
}

.zoo-event {
  background-color: #F9F7EA;
  border-radius: 50px;
}

.zoo-event-area {
  text-align: center;
  border-right: 1px solid #000;
}

.zoo-event-area:last-child {
  border-right: none;
}

.event-link-box{
  margin: auto;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #F0E9C4;
  border-radius: 30px;
  width: 70%;
}

.event-link {
  text-decoration: none;
}