@import url('https://fonts.googleapis.com/css2?family=Actor&family=Just+Another+Hand&family=Roboto:wght@300;400;500;700&display=swap');

.App {
  text-align: center;
}

.navs-header {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 1;
}

.navbars {
  background-color: #F5F0DD;
}

.navbars .nav-link {
  margin: 0;
}

